asgiref==3.2.3
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Django==3.1.12
dnspython==1.16.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mysql-connector-python==8.0.19
pipenv==2018.11.26
protobuf==3.6.1
pytz==2019.3
requests==2.22.0
six==1.14.0
soupsieve==1.9.4
sqlparse==0.3.0
urllib3==1.25.6
virtualenv==16.7.9
virtualenv-clone==0.5.3
Werkzeug==0.16.0
gunicorn>=19.1.0
fuzzywuzzy==0.18.0