<!DOCTYPE html>
<html>
   <head>
      <title>MoviePhone</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='js/script.js') }}">
      <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
      <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}"/>
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script>

      </script>
   </head>
   <body>

      <header>
         <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
               <div class="row">
                  <div class="col-sm-8 col-md-7 py-4">
                     <h4 class="text-white">About</h4>
                     <p class="text-muted">MoviePhone helps by making your movie viewing experience as seamless as possible!</p>
                  </div>
                  <div class="col-sm-4 offset-md-1 py-4">
                     <h4 class="text-white">Contact</h4>
                     <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Email me at: zachspielberger@gmail.com</a></li>
                        <li><a href="#" class="text-white">View <a href="https://github.com/zachspiel" target="_blank">Github</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
               <a href="{{ url_for('index' )}}" class="navbar-brand d-flex align-items-center">
                 <img src="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}"/>
                  <strong class="logo" tyle="margin-left:5px;">MoviePhone</strong>
               </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
            </div>
    </header>
    <div class="alert alert-danger text-center" role="alert">

      <h4 class="alert-heading"> <i class='fas fa-exclamation-circle'></i>  Please note:</h4>
      <p>Due to the Covid-19 Pandemic, Harkins and AMC Theaters have made the difficult decision to close their doors in an effort to protect their team members and their guests. During this time, MoviePhone will be unavailable. Rest assured we will use this time to implement important changes and improvements to service you better when we get back. Thank you for your patience and understanding during this difficult time. Our hearts are with you and your family. Stay healthy, we will see you soon.</p>
      <hr>
    </div>
    <!--
    <main>
       <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">MoviePhone</h1>
          <p class="lead text-muted">MoviePhone retrieves all of the latest movies and showtimes as soon as they are added to Harkins and AMC so you can find all showtimes in one place. Future updates will include other movie chains.</p>
          <p>
            <a href="{{ url_for('search') }}" class="btn btn-primary my-2">Search for movies now</a>
          </p>
        </div>
      </section>
    </main>-->



      <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" async defer></script>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>
