<!DOCTYPE html>
<html>
   <head>
      <title>MoviePhone</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
   </head>
   <body>
      <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
      	<div class="row-sm-12">
         <h1 id="title" class="text-lg-center">Welcome to MoviePhone!</h1>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
         <h3 id="search-text" class="text-lg-center">
            Search for a movie below <!--or <a href="#">view all movies now playing</a>-->
         </h3>
      </div>
      <div class="row justify-content-center align-items-center" >
         <!-- Search bar row-->
         <div class="justify-content-center align-items-center">
            <form method="post" >
               <input type="text" name="movie" id="movie">
               <input type="submit" value="search" id="submit" class="submitButton">
               <!--<br>
                  <input type="submit" value="search for all movies" id="movieSearch"></form>-->
            </form>
            <button type="button" onclick="window.location.href='{{ url_for( 'index') }}';" style="display:{{ clearButton }}" class="clearButton">Clear Search Results</button>
         </div>
         </div>
         <div class="row">
         </div>
         <div class="row" id="movie-results">
            {% for item in movies %}
            <div class="col-lg-3 col-sm-12 animated animatedFadeInUp fadeInUp" id="movie-box">
               <p id="movie-title">{{ item }}</p>
               <img src=" {{ movies[item][0] }} " style="width:150px;height:200px;">
               <br>
               <a href="//{{ movies[item][1] }}" target="_blank"> View Show times at Harkins</a>
            </div>
            {% endfor %}
         </div>
      
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>
