<!DOCTYPE html>
<html>
<head>
	<title>Harkins Web Scraper</title>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<style type="text/css">
	</style>
</head>
<body>
	<div class="container-fluid">

		<div class="row justify-content-center align-items-center">
			<h1>Harkins Web Scraper</h1>
		</div>
		<div class="row justify-content-center">
			<h3>Search for specific movies or search by theatre to view all movies now playing</h3>
		</div>
		<div class="row justify-content-center">
			<!-- Search bar row-->
			<div class="col-4" >
				<form method="post">
					<label for="movie">Search</label>
					<input type="text" name="movie" id="movie">
					
					<select name="theatre">
						<option>Select a Theatre</option>
						{% for theatre in theatres%}
						<option>{{ theatre }}</option>
						{% endfor %}
					</select>

					<input type="submit" value="search" id="submit"></form>
				</form>
			</div>

		</div>

		<div class="row"><h1>Showing results for: {{ search }}<br>At: {{ theatre_name }}</h1></div>
		
		<div class="row">
			{% for item in searched_movies %}
			<div class="col col-lg-2 col-sm-4 border">
				<p>{{ item }}</p>
				<img src=" {{ searched_movies[item] }} " style="width:100px;height:150px;">
				<p class="border" style="font-size:15px;padding:"10px;border:5px,solid,black;" >{{ showtimes[item] }}</p>
			</div>
			{% endfor %}
		</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
