<!DOCTYPE html>
<html>
   <head>
      <title>MoviePhone</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">


   </head>
   <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">MoviePhone helps by making your movie viewing experience as seamless as possible!</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="{{ url_for('index' )}}" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>MoviePhone</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
      <div class="container-fluid" >
      <div class="row justify-content-center align-items-center">
      	<div class="row-sm-12">
         <h1 id="title">Search for a movie below</h1>
        </div>
      </div>
      <div class="row justify-content-center align-items-center" >
         <!-- Search bar row-->
         <div class="justify-content-center align-items-center">
            <form method="post" name="searchForm">
               <input type="text" name="movie" id="movie" placeholder="leave blank to search for all movies" size="35"><br>
               <input type="checkbox" name="check" value="harkins" required> Harkins <br>
               <input type="checkbox" name="check" value="amc" required> AMC Theatres <br>
               <input type="submit" value="search" id="movieSearch" class="submitButton" style="margin-top: 10px; margin-bottom: 10px">

            </form>
            <button type="button" onclick="window.location.href='{{ url_for( 'search' ) }}';" style="display:{{ clearButton }}" class="clearButton">Clear Search Results</button>
         </div>
         </div>
         <div class="{{ className }}">
         <div class="container">
            <div class="row">
              {% for item in movies %}
               <div class="col-md-3">

              <div class="card mb-3 box-shadow animated animatedFadeInUp fadeInUp" >
                <img class="card-img-top"  alt="Thumbnail [100%x225]" style="height: 200px; width: 150px; display: block;" src="{{ movies[item][0] }} " data-holder-rendered="true">
                <div class="card-body">
                  <h6 class="card-title">{{ movies[item][2] }}</h6>
                  <p class="card-text" id="movie-title">{{ item }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('{{ movies[item][1] }}','_blank')">View</button>
                    </div>
                    <!--<small class="text-muted">9 mins</small>-->
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
         </div>

  </div>
  <script type="text/javascript">
    if({{ alert }} == true)
      {
        alert("Please select a movie theatre");
      }
  </script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>
