
body {
  font-family: 'Roboto Slab', serif;
}

#title{
	font-size:40px !important;

	font-weight:bold;
}

@media only screen and (max-width: 768px) {
  #title {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 320px) {
  #title {
    font-size: 10px !important;
  }
}

#title,#search-text{
	margin-top: 80px;
}

#searchArea {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}
#movie-results{
	margin-top:80px;
	padding:0 50px 50px 50px;
}

#movie-box{
	padding-bottom: 20px;
	border: 1px solid #000;
}

@media (min-width: 992px) {
  #movie-title:nth-child(3n+1) {
    clear: left;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #movie-title:nth-child(2n+1) {
    clear: left;
  }
}

input[type='text'],input[type='number'],textarea {font-size:16px;}

.fa-info-circle {
    margin-left: 10px;
}

.submitButton {
    text-transform: uppercase;
    text-decoration: none;
    padding:10px;
    border-radius: 25px;
    background: #fcba03;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.clearButton {
    text-transform: uppercase;
    text-decoration: none;
    padding:10px;
    border-radius: 25px;
    background: #fc1803;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-bottom: 20px;
}

.movieBox {
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}

.card-img-top {
  height: 200px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
